---
---

# {{ personal.name }}

<span class="iconify" data-icon="tabler:phone"></span> [{{ personal.phone }}](https://wa.me/{{ personal.phone_clean }})
  : <span class="iconify" data-icon="tabler:mail"></span> [{{ personal.email }}](mailto:{{ personal.email }})
  : <span class="iconify" data-icon="ic:outline-location-on"></span> {{ personal.address }}


<span class="iconify" data-icon="tabler:brand-github"></span> [{{ personal.github }}](https://github.com/{{ personal.github }})
  : <span class="iconify" data-icon="tabler:brand-linkedin"></span> [{{ personal.linkedin }}](https://linkedin.com/in/{{ personal.linkedin }}/)

{% if summary %}
## Professional Summary
{{ summary }}
{% endif %}

## Experience

{% for job in experience %}
**{{ job.title }}**
  : **{{ job.company }}**
  : **{{ job.date }}**

{% for bullet in job.bullets %}
- {{ bullet }}
{% endfor %}


{% endfor %}

## Education

{% for edu in education %}
**{{ edu.degree }}**
  : **{{ edu.date }}**

{{ edu.school }}
  : {{ edu.location }}

{% endfor %}

## Skills

**Programming Languages:** {{ skills.languages | join(", ") }}

**Tools and Frameworks:** {{ skills.tools | join(", ") }}

**Languages:** {{ skills.spoken | join(", ") }}

